* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFB;
    color: #25343F;
}

:root {
    --backroundColor : #F9FAFB;
    --textColor : #25343F ;
}

/* ================ */
/* NAVBAR STYLE */
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    align-items: center;
    box-shadow: 2px 2px 4px #25343F;
}


.navbar-menu{
    font-weight: bold;
    padding-top: 4px;
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar-menu li a {
    color: #25343F;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.navbar-item li a {
    color: #25343F;
    text-decoration: none;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

nav li a:hover {
    font-size: 20px;
    transition: 0.3s;
}

/* NAVBAR STYLE END */
/* ================== */    

