* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFB;
    color: #25343F;
}

:root {
    --backroundColor : #F9FAFB;
    --textColor : #25343F ;
}

/* ================ */
/* NAVBAR STYLE */
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    align-items: center;
    box-shadow: 2px 2px 4px #25343F;
}


.navbar-menu{
    font-weight: bold;
    padding-top: 4px;
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar-menu li a {
    color: #25343F;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.navbar-item li a {
    color: #25343F;
    text-decoration: none;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

nav li a:hover {
    font-size: 20px;
    transition: 0.3s;
}

/* NAVBAR STYLE END */
/* ================== */ 

.container-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;     
    max-height: 100vh;
}

.container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.container-data {
    
}

.container-link {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 60%;
}

.container-form h3 {
    margin-top: 30px;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    background: #ededed;
    background: linear-gradient(0deg,rgba(237, 237, 237, 1) 0%, rgba(209, 203, 203, 1) 100%);
    box-shadow: 2px 2px 2px #25343F;
    border-radius: 20px;
    border: 1px solid #25343F;
}

form {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input , textarea , button{
    box-shadow: 2px 2px 2px #25343F;
    border-radius: 10px;
    border: 1px solid #25343F;
    padding: 10px 20px;
}

textarea{
    height: 200px;
}