* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F9FAFB;
    color: #25343F;
}

:root {
    --backroundColor : #F9FAFB;
    --textColor : #25343F ;
}

/* ================ */
/* NAVBAR STYLE */
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    align-items: center;
    box-shadow: 2px 2px 4px #25343F;
}


.navbar-menu{
    font-weight: bold;
    padding-top: 4px;
    display: flex;
    list-style: none;
    gap: 15px;
}

.navbar-menu li a {
    color: #25343F;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}

.navbar-item li a {
    color: #25343F;
    text-decoration: none;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

nav li a:hover {
    font-size: 20px;
    transition: 0.3s;
}

/* NAVBAR STYLE END */
/* ================== */ 

.container-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.project-contents {
    margin-top: 2rem;
}

.project-header h3{
    margin-bottom: 10px;
}

.project-fitur{
    margin-top: 2rem;
}

.project-fitur img{
    width: 40px;
    height: 13px;
}

.project-fitur button {
    background-color: var(--textColor);
    color: var(--backroundColor);
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    width: auto;
    padding: 15px 20px;
    cursor: pointer;
}

.project-fitur button:hover{
    color: var(--textColor);
    background: linear-gradient(to bottom, #F9FAFB 0%, #f0f0f0 100%);
    box-shadow: 4px 6px 10px 0 #25343F;
    transition: 0.2s;
    transform: translateY(-4px);
}

.project-fitur button span {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 5px;
}
.project-fitur button i {
    font-size: 20px;
}

.project-fitur .tailwind {
    width: auto;
    padding: 18px 20px;
}
/* ========================= */

.project-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-link-header {
    margin: 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    width: 350px;
    height: auto;
    background: linear-gradient(to bottom, #F9FAFB 0%, #f0f0f0 100%);
    box-shadow: 4px 6px 10px 0 #25343F;
    border-radius: 15px;
}

.card img {
    width: 300px;
    height: auto;
}

.card-title {
    width : 300px;
    height:auto;
}
